body {
  background-color: #121212;
}

.surface-background-material {
  background-color: #121212 !important;
}

.elevated-background-material {
	background-color: rgba(255, 255, 255, 0.05);
  box-shadow:
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  0px 1px 1px 0px hsla(0,0%,0%,0.14), 
  0px 2px 1px -1px hsla(0,0%,0%,0.12), 
  0px 1px 3px 0px hsla(0,0%,0%,0.2);
}

.input-material {
  background-color: rgba(255, 255, 255, 0.07);
  border-color: rgba(255, 255, 255, 0.07);
  color: #FFFFFF !important;
}

.input-material:focus {
  background-color: rgba(255, 255, 255, 0.07);
  border-color: rgba(255, 255, 255, 0.07);
	box-shadow: none;
}

.surface-text-material {
  color: #FFFFFF !important;
}

.surface-secondary-text-material {
  color: #616161 !important;
}

.elevated-text-material {
  color: #FFFFFF !important;
}

.primary-background-material {
  background-color: #BC0F0F !important;
}

.primary-text-material {
  color: #000000 !important;
}

/* applica overlay del bianco 4% (100 - 4) */
.primary-background-material:hover {
  background-color: #CB201D !important;
}

/* Classe necessaria su un button con effetto ripple o con overlay per l'hover */
.btn-material {
  position:relative;
  overflow:hidden;
}

.material-hover {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.04);
}

.ripple {
  width: 0%;
  height: 0%;
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  background-color: rgba(255, 255, 255, 0.10);
}

.ripple-effect {
  animation: ripple 600ms linear;
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}